*{
    margin: 0;
    padding: 0;
}
.navbar{
    color: white;

    background-color: #020000;

}
#mynavbar a{
    color: white;
    border-bottom: 2px solid transparent;

}
#mynavbar a:hover{

    border-bottom: 2px solid white;
}
.nav-item{
    padding-left:10px;
}
#B1{
     background: linear-gradient(to right, #fdfbfb, #cfd8f0, #ebedee);
}
#blg{
       background: linear-gradient(to right, #fdfbfb, #cfd8f0, #ebedee);
    }
.form-section {
    background: linear-gradient(to right, #fdfbfb, #cfd8f0, #ebedee);
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.05);
    }
    #hero {
      background: linear-gradient(to right, #fdfbfb, #cfd8f0, #ebedee);
      padding: 60px 0;
      text-align: center;
    }
    .blog-card img {
      max-height: 200px;
      object-fit: cover;
    }
    #footer{
    color: #020000;
    background: linear-gradient(to right, #fdfbfb, #cfd8f0, #ebedee);

}
#footer p a{
    text-align: left;

}
.card{
      background: linear-gradient(to right, #fdfbfb, #cfd8f0, #ebedee);
}